#!/bin/bash

MOUNTDIR="$1"


NEXTCLOUD_DATA={{ nextcloud_data_path }}
NEXTCLOUD_DATA_TARGET=nextcloud/data/

mkdir -p "$MOUNTDIR"/"$NEXTCLOUD_DATA_TARGET"; (( RC |= $? ))

rsync_backup "$NEXTCLOUD_DATA" "$NEXTCLOUD_DATA_TARGET"

server_nextcloud_maintenance_on (( RC |= $? ))

mysqldump --defaults-file=<(echo "[mysqldump]
user=nextcloud
password={{ nextcloud_db_user_password }}") --lock-tables -h localhost -u nextcloud nextcloud > "$MOUNTDIR/nextcloud/dbdump.sql"; (( RC |= $? ))

rsync_backup "$NEXTCLOUD_DATA" "$NEXTCLOUD_DATA_TARGET"; (( RC |= $? ))

server_nextcloud_maintenance_off (( RC |= $? ))

exit $RC
