MOUNTDIR="$1"

su -s /bin/bash nextcloud -c "php /usr/share/webapps/nextcloud/occ maintenance:mode --on"

export MYSQL_PWD={{ nextcloud_db_user_password }}
mysql -h localhost -u nextcloud nextcloud < "$MOUNTDIR/nextcloud/dbdump.sql"

mkdir -p /var/lib/nextcloud/data
rsync -r "$MOUNTDIR"/nextcloud/data/ /var/lib/nextcloud/data/

chown nextcloud:nextcloud -R /var/lib/nextcloud/data
find /var/lib/nextcloud/data -type f -print0 | xargs -0 chmod 644
find /var/lib/nextcloud/data -type d -print0 | xargs -0 chmod 755

su -s /bin/bash nextcloud -c "php /usr/share/webapps/nextcloud/occ maintenance:mode --off"
