#!/bin/bash

MOUNTDIR="$1"

server_nextcloud_maintenance_on

DEFAULTS_FILE="[client]
user=nextcloud
password={{ nextcloud_db_user_password }}"

mysql --defaults-file=<(echo "$DEFAULTS_FILE") -u nextcloud -D nextcloud < "$MOUNTDIR/nextcloud/dbdump.sql"

mkdir -p $(dirname "{{ nextcloud_config_path }}")
rsync_restore nextcloud/config/config.php "{{ nextcloud_config_path }}"

mkdir -p {{ nextcloud_data_path }}
rsync_restore nextcloud/data/ {{ nextcloud_data_path }}

chown {{ nextcloud_user }}:{{ nextcloud_group }} -R {{ nextcloud_data_path }}
find /var/lib/nextcloud/data -type f -print0 | xargs -0 chmod 644
find /var/lib/nextcloud/data -type d -print0 | xargs -0 chmod 755

server_nextcloud_maintenance_off
