<?php
$CONFIG = array (
  'config_is_read_only' => false,
  'datadirectory' => '/var/lib/nextcloud/data/',
  'logfile' => '/var/log/nextcloud/nextcloud.log',
  'apps_paths' =>
  array (
    0 =>
    array (
      'path' => '{{ nextcloud_path }}/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 =>
    array (
      'path' => '/var/lib/nextcloud/apps',
      'url' => '/wapps',
      'writable' => true,
    ),
  ),
  'passwordsalt' => '{{ nextcloud_passwordsalt }}',
  'secret' => '{{ nextcloud_secret }}',
  'trusted_proxies' => ['127.0.0.1', '::1'],
  'forwarded_for_headers' => array(
    'HTTP_X_FORWARDED_FOR'
  ),
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => 'nextcloud.{{ domain }}'
  ),
  'trusted_proxies' =>
  array (
	  0 => '127.0.0.1',
  ),
  'dbtype' => 'mysql',
  'version' => '{{ nextcloud_version_from_config.stdout | default( "" ) }}',
  'overwrite.cli.url' => 'https://nextcloud.{{ domain }}',
  'overwriteprotocol' => 'https',
  'overwritehost' => 'nextcloud.{{ domain }}',
  'dbname' => 'nextcloud',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => 'nextcloud',
  'dbpassword' => '{{ nextcloud_db_user_password }}',
  'installed' => true,
  'instanceid' => '{{ nextcloud_instanceid }}',
  'skeletondirectory' => '',
  'preview_max_filesize_image' => 1024,
  'default_language' => 'de',
  'default_locale' => 'de_DE',
  'mail_domain' => '{{ domain }}',
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => '127.0.0.1',
  'mail_smtpport' => 25,
  'memcache.distributed' => '\OC\Memcache\Redis',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
     'host' => 'localhost',
     'port' => 6379,
  ],
);
