[Unit]
Description=Nextcloud cron.php job

[Service]
User={{ nextcloud_user }}
ExecStart=/usr/bin/{{ php_command }} -c {{ nextcloud_php_config_path }} -f {{ nextcloud_path }}/cron.php
KillMode=process
