#!/bin/bash

systemctl stop nextcloud-cron.timer
server_nextcloud_config_writable

su -s /bin/bash {{ nextcloud_user }} -c "{{php_command}} {{ nextcloud_path }}/occ upgrade"

server_nextcloud_config_readonly
systemctl start nextcloud-cron.timer

echo Done

