#!/bin/bash
[ -z "$2" ] && echo nextcloud data needed: UID && exit 1

ID="$1"

su -s /bin/bash {{ nextcloud_user }} -c "php {{ nextcloud_path }}/occ group:adduser admin \"$ID\""


[ "$?" -eq 0 ] && echo New PWD is "$PW" || echo Done

