#!/bin/bash

server_nextcloud_config_writable
su -s /bin/bash {{ nextcloud_user }} -c "{{php_command}} -c {{ php_ini_path }} {{ nextcloud_path }}/occ maintenance:mode --off"
server_nextcloud_config_readonly

echo Done

