127.0.0.1	{% if fqdn is defined %}{{ fqdn }} {% endif %} {{ hostname }} localhost
::1      	{% if fqdn is defined %}{{ fqdn }} {% endif %} {{ hostname }} localhost

{% if hosts_entries is defined %}
{% for host in hosts_entries %}
{{ host.ip }}	{{ host.name }}.{{ host.domain }}{% for alias in host.subdomains %} {{ alias }}.{{ host.domain }} {% endfor %} {% for alias in host.aliases %} {{ alias }} {% endfor %}{{ "\n" }}
{% endfor %}
{% endif %}
