127.0.0.1	{% if fqdn is defined %}{{ fqdn }} {% endif %} {{ hostname }} localhost{% if hosts_additional_aliases is defined %}{% for alias in hosts_additional_aliases %} {{ alias }}{% endfor %}{% endif %}


::1      	{% if fqdn is defined %}{{ fqdn }} {% endif %} {{ hostname }} localhost{% if hosts_additional_aliases is defined %}{% for alias in hosts_additional_aliases %} {{ alias }}{% endfor %}{% endif %}


{% if hosts_entries is defined %}
{% for host in hosts_entries %}
{{ host.ip }}	{{ host.name }}.{{ host.domain }}{% for alias in host.subdomains %} {{ alias }}.{{ host.domain }} {% endfor %} {% if host.aliases is defined %} {% for alias in host.aliases %} {{ alias }} {% endfor %} {% endif %}{{ "\n" }}
{% endfor %}
{% endif %}

