dpi-aware=no

border-color=4c555cff
border-size=1

title-format=<b>%a%A</b>
summary-format=<b>%s</b>\n
body-format=%b

title-font=FontAwesome:size=14
summary-font=FontAwesome:size=12
body-font=FontAwesome:size=12

default-timeout=15
idle-timeout=60
background=4c555cdd

[low]
default-timeout=8
idle-timeout=30
background=35383ddd

[critical]
default-timeout=0
idle-timeout=0
background=eb4d4bdd

