font=FontAwesome:size=14
dpi-aware=no

lines=20
width=50

[colors]
background=35383ddd
text=ffffffff
match=2980b9ff
selection=2980b9dd
selection-text=ffffffff
selection-match=e1c600ff
border=4c555cff

[border]
width=1
radius=0
