#!/bin/sh

export XDG_SESSION_TYPE=wayland
export XDG_SESSION_DESKTOP=sway
export XDG_CURRENT_DESKTOP=sway
export XDG_RUNTIME_DIR=/run/user/$UID

export _JAVA_AWT_WM_NONREPARENTING=1

export PATH=$PATH:/var/lib/flatpak/exports/bin:~/.local/share/flatpak/exports/bin

export WLR_RENDERER=vulkan # needed for ICC profiles to work

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Dnoscanout works around VRR not working in full screen
systemd-cat --identifier=sway sway -Dnoscanout $@

loginctl terminate-session self