[Unit]
Description=Docker compose based {{ item.id }} server
Wants=network.target
{% for current in item.system_depends | default([]) %}
Requires={{ current }}.service
{% endfor %}

[Service]
WorkingDirectory=/opt/docker/{{ item.id }}/
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/docker compose start
ExecStop=/bin/docker compose stop

[Install]
WantedBy=multi-user.target
