[Unit]
Description=Docker compose based {{ item.id }} server
Wants=network.target
{% for current in item.system_depends | default([]) %}
After=docker.service
After={{ current }}.service
Requires={{ current }}.service
{% endfor %}

[Service]
WorkingDirectory=/opt/docker/{{ item.id }}/
Type=oneshot
{% for current in item.mount_depends | default([]) %}
ExecStartPre=/usr/bin/mountpoint "{{ current }}"
{% endfor %}
{% for current in item.directory_depends | default([]) %}
ExecStartPre=/usr/bin/test -d "{{ current }}"
{% endfor %}
ExecStart=/bin/docker compose start
ExecStop=/bin/docker compose stop
RemainAfterExit=yes
RestartSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
