secret.yml
credentials
*.retry
staging_netconf.yml
staging_hosts
production
production_hosts
files/ca/fake/ca.key
files/ca/fake/ca.pem
files/ca/fake/ca.crt
run_limited
run_limited_upgrade
host_vars/*
!host_vars/staging*
staging_env/.env
