[Unit]
Description=Remotely Server
[Service]
WorkingDirectory=/opt/remotely/server/latest
ExecStart=/usr/bin/dotnet /opt/remotely/server/latest/Remotely_Server.dll
Restart=always
RestartSec=10
SyslogIdentifier=remotely
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
[Install]
WantedBy=multi-user.target
