[Unit]
Description=Let's Encrypt renewal

[Service]
Type=oneshot
ExecStart={% if letsencrypt_fake is defined and letsencrypt_fake %}/usr/local/bin/certbot{% else %}/usr/bin/certbot{% endif %} renew --agree-tos
