#!/bin/bash

if [ -f /etc/pacmanrepo.conf ]
then
	. /etc/pacmanrepo.conf
fi

if [ -z "$REPO_NAME" ]
then
	REPO_NAME=$1
fi

if [ -z "$REPO_NAME" ]
then
	echo Repo name is needed as first parameter
	exit 1
fi

cd /var/lib/pacman-repo-builder

if [ -n "$CHROOT_BUILD" ]
then
	CHROOT=/var/lib/pacman-repo-builder/chroot
	mkdir -p "$CHROOT"

	PACMAN_CONFIG=pacman.conf
	[ -f $PACMAN_CONFIG ] || PACMAN_CONFIG=/etc/pacman.conf

	[ ! -d "$CHROOT/root" ] && mkarchroot -C "$PACMAN_CONFIG" "$CHROOT/root" base-devel
	cp pacman.conf "$CHROOT/root/etc/"
	arch-nspawn "$CHROOT/root" pacman -Syu
fi

su pacmanrepobuilder -c 'mkdir -p pkgs'

RC=0


if [ -f keys.list ]
then
	for C in $(cat keys.list)
	do
		if [ -n "$CHROOT_BUILD" ]
		then
			arch-nspawn "$CHROOT/root" su pacmanrepobuilder -c "gpg --recv-keys $C"
		else
			su pacmanrepobuilder -c "gpg --recv-keys $C"
		fi
	done
fi

if [ -f deps.list ]
then
	for C in $(cat deps.list)
	do
		cd pkgs
		if [ ! -d "$C" ]
		then
			su pacmanrepobuilder -c 'git clone "https://aur.archlinux.org/'${C}'.git"' || (( RC++ ))
		fi
		cd "$C"
		su pacmanrepobuilder -c 'git pull'
		
		rm *.pkg.tar.zst

		if [ -n "$CHROOT_BUILD" ]
		then
			makechrootpkg -c -U pacmanrepobuilder -r "$CHROOT"
			CRC=$?
		else
			su pacmanrepobuilder -c 'makepkg -s -C --noconfirm'
			CRC=$?
		fi
		
		if [ ! \( "$ALLOW_SIGN_FAIL" = true -a $CRC -eq 16 \) ] && [ $CRC -ne 0 ]
		then
			(( RC++ ))
		fi
		
		cd ../..
	done
fi

if [ -f packages.list ]
then
	DEPENDS=
	for C in $(cat deps.list)
	do
		if [ -n "$CHROOT_BUILD" ]
		then
			DEPENDS="$DEPENDS -I ../../$(ls pkgs/$C/*.pkg.tar.zst | sort | tail -n 1)"
		else
			pacman --noconfirm -U $(ls pkgs/$C/*.pkg.tar.zst)
		fi
	done

	for C in $(cat packages.list)
	do
		cd pkgs/
		if [ ! -d "$C" ]
		then
			su pacmanrepobuilder -c 'git clone "https://aur.archlinux.org/'${C}'.git"'
		fi
		cd "$C"
		su pacmanrepobuilder -c 'git pull'

		rm *.pkg.tar.zst
		
		if [ -n "$CHROOT_BUILD" ]
		then
			makechrootpkg -c $DEPENDS -U pacmanrepobuilder -r "$CHROOT"
			CRC=$?
		else
			su pacmanrepobuilder -c 'makepkg -s -C --noconfirm'
			CRC=$?
		fi
		
		CRC=$?
		if [ ! \( "$ALLOW_SIGN_FAIL" = true -a $CRC -eq 16 \) ] && [ $CRC -ne 0 ]
		then
			(( RC++ ))
		fi
		cd ../..
	done
fi

rm -r repo
su pacmanrepobuilder -c 'mkdir -p repo/'


su pacmanrepobuilder -c 'find pkgs -name "*.tar.zst*" -exec cp {} repo/ \;'  || (( RC++ ))

cd repo

if [ 0 -ne $( ls | wc -l ) ]
then
	su pacmanrepobuilder -c 'repo-add '"$REPO_NAME"'.db.tar.zst *' || (( RC++ ))
fi

echo Aggregated return code is $RC
exit $RC
