#!/bin/bash

if [ -f /etc/pacmanrepo.conf ]
then
	. /etc/pacmanrepo.conf
fi

if [ -z "$REPO_NAME" ]
then
	REPO_NAME=$1
fi

if [ -z "$REPO_NAME" ]
then
	echo Repo name is needed as first parameter
	exit 1
fi

cd /var/lib/pacman-repo-builder
su pacmanrepobuilder -c 'mkdir -p pkgs'

RC=0


if [ -f keys.list ]
then
	for C in $(cat keys.list)
	do
		su pacmanrepobuilder -c "gpg {% if server_pacmanrepo_keyserver is defined %}--keyserver {{ server_pacmanrepo_keyserver }}{% endif %}  --recv-keys $C"
	done
fi

if [ -f deps.list ]
then
	for C in $(cat deps.list)
	do
		cd pkgs
		if [ ! -d "$C" ]
		then
			su pacmanrepobuilder -c 'git clone "https://aur.archlinux.org/'${C}'.git"' || (( RC++ ))
		fi
		cd "$C"
		su pacmanrepobuilder -c 'git pull'
		
		su pacmanrepobuilder -c 'makepkg -sf --sign --noconfirm'
		CRC=$?
		
		if [ ! \( "$ALLOW_SIGN_FAIL" = true -a $CRC -eq 16 \) ] && [ $CRC -ne 0 ]
		then
			(( RC++ ))
		fi
		
		pacman -U --asdeps --noconfirm $(ls *.pkg.tar.zst | sort | tail -n 1)
		cd ../..
	done
fi

if [ -f packages.list ]
then
	for C in $(cat packages.list)
	do
		cd pkgs/
		if [ ! -d "$C" ]
		then
			su pacmanrepobuilder -c 'git clone "https://aur.archlinux.org/'${C}'.git"'
		fi
		cd "$C"
		su pacmanrepobuilder -c 'git pull'
		
		su pacmanrepobuilder -c 'makepkg -sf --sign --noconfirm'
		
		CRC=$?
		if [ ! \( "$ALLOW_SIGN_FAIL" = true -a $CRC -eq 16 \) ] && [ $CRC -ne 0 ]
		then
			(( RC++ ))
		fi
		cd ../..
	done
fi

su pacmanrepobuilder -c 'mkdir -p repo/'

su pacmanrepobuilder -c 'find pkgs -name "*.tar.zst*" -exec cp {} repo/ \;'  || (( RC++ ))

cd repo

rm -f $REPO_NAME.db
rm -f $REPO_NAME.db.tar.zst
rm -f $REPO_NAME.files
rm -f $REPO_NAME.files.tar.zst

if [ 0 -ne $( ls | wc -l ) ]
then
	su pacmanrepobuilder -c 'repo-add '"$REPO_NAME"'.db.tar.zst *' || (( RC++ ))
fi

echo Aggregated return code is $RC
exit $RC
