#!/bin/bash
MOUNTDIR="$1"

mkdir -p /var/lib/webdav/cfg
mkdir -p /var/lib/webdav/shares

rsync_restore webdav/cfg/ /var/lib/webdav/cfg/

for C in /var/lib/webdav/cfg/*.htpasswd
do
	NAME=$(basename $C | sed -e "s|\.htpasswd||")
	mkdir -p /var/lib/webdav/shares/$NAME
done

chown {{ server_nginx_user }}:webshare -R /var/lib/webdav
chmod -R 700 /var/lib/webdav/cfg
find /var/lib/webdav/shares -type f -print0 | xargs -0 chmod 660
find /var/lib/webdav/shares -type d -print0 | xargs -0 chmod 770
