#!/bin/bash
MOUNTDIR="$1"

mkdir -p /var/lib/webdav/cfg
mkdir -p /var/lib/webdav/shares

rsync_restore webdav/cfg/ /var/lib/webdav/cfg/

for C in /var/lib/webdav/cfg/*.htpasswd
do
	NAME=$(basename $C | sed -e "s|\.htpasswd||")
	mkdir -p /var/lib/webdav/shares/$NAME
done

chown http:http -R /var/lib/webdav
find /var/lib/webdav -type f -print0 | xargs -0 chmod 640
find /var/lib/webdav -type d -print0 | xargs -0 chmod 750
