[Unit]
Description=Perform mini storage maintenance tasks
 
[Service]
User=root
WorkingDirectory=/
ExecStart=/bin/systemd-inhibit --what=sleep --who=Maintenance /bin/bash -c 'PATH=$PATH:/usr/bin/site_perl /usr/local/bin/storage_maintenance mini'
