[Unit]
Description=Backup
 
[Service]
Type=oneshot
User=root
ExecStart=/bin/systemd-inhibit --what sleep --who Backups /bin/bash /usr/local/bin/storage_backup auto
