[Unit]
Description=Mount               

[Service]
Type=oneshot
ExecStart=/usr/local/bin/storage_pool automount
ExecStop=/usr/local/bin/storage_pool autoumount
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

