[Unit]
Description=Backup
 
[Service]
User=root
ExecStartPre=/bin/bash -c "while ! systemd-inhibit true; do sleep 1; echo Could not get inhibitor; done"
ExecStart=/bin/systemd-inhibit --what=sleep --who=Backups /bin/bash -c 'PATH=$PATH:/usr/bin/site_perl /usr/local/bin/storage_backup auto'
