[Unit]
Description=Monitor storage pools

[Service]
User=root
WorkingDirectory=/
ExecStart=/bin/systemd-inhibit --what=sleep --who=Monitor /bin/bash -c 'PATH=$PATH:/usr/bin/site_perl /usr/local/bin/storage_pool monitor'
