[Unit]
Description=Perform full storage maintenance tasks
 
[Service]
Type=oneshot
User=root
WorkingDirectory=/
ExecStart=/bin/systemd-inhibit --what sleep --who Maintenance /bin/bash /usr/local/bin/storage_maintenance full
