#!/bin/bash
MOUNTDIR="$1"
RC=0

systemctl stop fail2ban; (( RC |= $? ))

mkdir -p "$MOUNTDIR"/fail2ban/; (( RC |= $? ))
rsync_backup /var/lib/fail2ban/fail2ban.sqlite3 fail2ban/; (( RC |= $? ))

systemctl restart fail2ban; (( RC |= $? ))

exit $RC
