[Unit]
  Description=cifs mount script {{ item.src }}
  Requires=wake-{{ item.escapedname }}.service

[Mount]
  What={{ item.src }}
  Where={{ item.path }}
  {% if item.options is defined %}Options={{ item.options }}
{% endif %}
  Type={{ item.type }}
  TimeoutSec=45s

[Install]
  WantedBy=multi-user.target
