[Unit]
DefaultDependencies=no
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sh -c 'until ping -w 1 {{ item }}; do sleep 1; done'

[Install]
WantedBy=network-online.target
