#!/bin/bash
[ -z "$2" ] && echo webdav data needed: SHARENAME USERNAME, PASSWORD from - && exit 1

IFS= read PW

if [ -z "$PW" ]
then
	PW=$(pwgen -n 10 | cat)
fi

SHARENAME="$1"
USERNAME="$2"

if [ ! -e "/var/lib/webdav/cfg/$SHARENAME.htpasswd" ]
then
	PARAMS="-c"
fi

echo "$PW" | htpasswd -i $PARAMS "/var/lib/webdav/cfg/$SHARENAME.htpasswd" $USERNAME

chown {{ server_nginx_user }}:{{ server_nginx_group }} /var/lib/webdav/cfg/"$SHARENAME.htpasswd"

[ "$?" = 0 ] && echo New PWD is "$PW" || echo Done

systemctl reload nginx
