ls #!/bin/bash

MOUNTDIR="$1"

systemctl stop linuxgsm_{{ item.id }}

{% for current in item.backup %}

DATA="{{ current }}/"
DATA_TARGET="linuxgsm/{{ item.id }}/{{ current }}"

mkdir -p "$MOUNTDIR"/"$DATA_TARGET"; (( RC |= $? ))

rsync_backup "$DATA" "$DATA_TARGET"; (( RC |= $? ))

{% endfor %}

systemctl start linuxgsm_{{ item.id }}

exit $RC
