#!/bin/bash
MOUNTDIR="$1"

for C in "$MOUNTDIR"/restic/instances
do
	cp "$C"/.htpasswd /opt/restic/instances/$(basename "$C")/.htpasswd
	chown restic:restic -R /opt/restic/instances/$(basename "$C")/.htpasswd
done
