#!/bin/bash
[ -z "$1" ] && echo JID needed && exit 1

IFS= read PW

if [ -z "$PW" ]
then
	PW=$(pwgen -n 10 | cat)
fi

echo -e "$PW\n$PW\n" | prosodyctl adduser "$@"

[ "$?" = 0 ] && echo New PWD is "$PW" || echo Done