require [ "fileinto", "regex", "variables", "mailbox" ];

if address :localpart :regex "to" ".*[+_-]([^+_-]*)" {
  fileinto :create "INBOX.${1}";
}

if header :regex "X-Original-To" ".*[+_-]([^+_#]*)@.*" {
  fileinto :create "INBOX/${1}";
}
