#!/bin/bash
MOUNTDIR="$1"

MAILDIR=/var/vmail/
MAILDIR_TARGET=mail/vmail/
SPOOL=/var/spool/postfix/
SPOOL_TARGET=mail/spool/
AUTOCONF="/usr/local/share/webapps/default/.well-known/autoconfig/mail/config-v1.1.xml"
AUTOCONF_TARGET=mail/autoconf/config-v1.1.xml

mkdir -p "$MOUNTDIR"/$MAILDIR_TARGET; (( RC |= $? ))
mkdir -p "$MOUNTDIR"/$SPOOL_TARGET; (( RC |= $? ))

rsync_backup $MAILDIR $MAILDIR_TARGET
rsync_backup $SPOOL $SPOOL_TARGET
rsync_backup $AUTOCONF $AUTOCONF_TARGET; (( RC |= $? ))

systemctl stop dovecot; (( RC |= $? ))
systemctl stop postfix; (( RC |= $? ))

export MYSQL_PWD={{ postfix_db_user_password }}; (( RC |= $? ))
mysqldump --lock-tables -h localhost -u postfix postfix > "$MOUNTDIR/mail/dbdump.sql"; (( RC |= $? ))

rsync_backup $MAILDIR $MAILDIR_TARGET; (( RC |= $? ))
rsync_backup $SPOOL $SPOOL_TARGET; (( RC |= $? ))

systemctl restart dovecot; (( RC |= $? ))
systemctl restart postfix; (( RC |= $? ))

exit $RC
