#!/bin/bash
MOUNTDIR="$1"

systemctl stop dovecot
systemctl stop postfix


DEFAULTS_FILE="[client]
user=postfix
password={{ postfix_db_user_password }}"

mysql --defaults-file=<(echo "$DEFAULTS_FILE") -u postfix -D postfix < "$MOUNTDIR/mail/dbdump.sql"

mkdir -p /var/vmail
rsync_restore mail/vmail/ /var/vmail/

chown vmail:vmail -R /var/vmail
find /var/vmail -type f -print0 | xargs -0 chmod 640
find /var/vmail -type d -print0 | xargs -0 chmod 750

mkdir -p /var/spool/postfix
rsync_restore mail/spool/ /var/spool/postfix/

chown postfix:postfix -R /var/spool/postfix
find /var/spool/postfix -type f -print0 | xargs -0 chmod 640
find /var/spool/postfix -type d -print0 | xargs -0 chmod 750

mkdir -p /etc/opendkim/keys
chown -R opendkim:opendkim /etc/opendkim
chmod 700 /etc/opendkim
rsync_restore mail/dkim/ /etc/opendkim/

systemctl restart postfix
systemctl restart dovecot
systemctl restart opendkim
