#!/bin/bash
MOUNTDIR="$1"

systemctl stop dovecot
systemctl stop postfix


DEFAULTS_FILE="[client]
user=postfix
password={{ postfix_db_user_password }}"

mysql --defaults-file=<(echo "$DEFAULTS_FILE") -u postfix -D postfix < "$MOUNTDIR/mail/dbdump.sql"

mkdir -p /var/vmail
rsync_restore mail/vmail/ /var/vmail/

chown vmail:vmail -R /var/vmail
find /var/lib/nextcloud/data -type f -print0 | xargs -0 chmod 640
find /var/lib/nextcloud/data -type d -print0 | xargs -0 chmod 750

mkdir -p /var/spool/postfix
rsync_restore mail/spool/ /var/spool/postfix/

chown postfix:postfix -R /var/spool/postfix
find /var/lib/nextcloud/data -type f -print0 | xargs -0 chmod 640
find /var/lib/nextcloud/data -type d -print0 | xargs -0 chmod 750

systemctl restart postfix
systemctl restart dovecot
