server {
    listen 4445;
    listen [::]:4445;
  
    root /var/lib/webdav/shares;
    client_body_temp_path   /var/lib/webdav/temp;

    location ~ /([a-zA-Z0-9_\.-]*)(/.*)* {
        dav_methods  PUT DELETE MKCOL COPY MOVE;
        dav_ext_methods  PROPFIND OPTIONS;
        create_full_put_path  on;
        dav_access  user:rw group:rw all:rw;
        autoindex  on;
        client_max_body_size  0;

        auth_basic  "Authenticate";
        auth_basic_user_file /var/lib/webdav/cfg/$1.htpasswd;
    }
    
    location / {
        return 403;
    }
}

server {
    listen {{ server_nginx_port_https_backend }} ssl http2;
    listen [::]:{{ server_nginx_port_https_backend }} ssl http2;
    server_name webdav.{{ domain }};
  
    root /var/lib/webdav/shares;
    client_body_temp_path   /var/lib/webdav/temp;

    ssl_certificate /etc/letsencrypt/live/webdav.{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/webdav.{{ domain }}/privkey.pem;
    ssl_session_cache shared:SSL:10m;

    location ~ /([a-zA-Z0-9_\.-]*)(/.*)* {
        proxy_pass http://127.0.0.1:4445;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        client_max_body_size 0;
        client_body_buffer_size 128k;
    }
    
    location / {
        return 403;
    }
}

