[global]
	workgroup = WORKGROUP
	server string = Samba Server
	server role = standalone server
	logging = systemd
	max log size = 50
	dns proxy = no
	allow insecure wide links = yes
	unix extensions  = yes

{% if server_samba_options is defined %}
{% for option in server_samba_options %}
	{{ option }}
{% endfor %}
{% endif %}


{% if server_samba_shares is defined %}
{% for share in server_samba_shares %}
[{{ share.name }}]
	path = {{ share.path }}
	browseable = {{ share.browseable | default('no') }}
	public = {{ share.public | default('no') }}
	read only = {{ share.readonly | default('yes') }}
{% if share.directorymode is defined %}
	directory mode = {{ share.directorymode }}
{% endif %}
{% if share.createmode is defined %}
	create mode = {{ share.createmode }}
{% endif %}
	guest ok = {{ share.guestok | default('no') }}
	follow symlinks = {{ share.followsymlinks | default('no') }}
	case sensitive = {{ share.casesensitive | default('auto') }}
	wide links = {{ share.widelinks | default('no') }}
{% if share.validusers is defined %}
	valid users ={% for item in share.validusers %} {{ item }}{% endfor %}

{% endif %}
{% if share.forcegroup is defined %}
	force group = {{ share.forcegroup }}
{% endif %}

{% endfor %}
{% endif %}
