ls #!/bin/bash

MOUNTDIR="$1"

systemctl stop {{ item.id }}

{% for current in item.data %}

DATA="{{ current.path }}/"
DATA_TARGET="docker/{{ item.id }}/{{ current.path }}"

mkdir -p "$MOUNTDIR"/"$DATA_TARGET"; (( RC |= $? ))

rsync_backup "$DATA" "$DATA_TARGET"; (( RC |= $? ))

{% endfor %}

systemctl start {{ item.id }}

exit $RC
