#!/bin/bash

MOUNTDIR="$1"

systemctl stop {{ item.id }}

{% for current in item.data %}

DATA_PATH="{{ current.path }}"
rsync_restore "docker/{{ item.id }}/{{ current.path }}" ${DATA_PATH}

chown {{ item.id }}:{{ item.id }} -R ${DATA_PATH}

{% endfor %}

systemctl start {{ item.id }}
