[Unit]
Description=restic REST Server
Wants=network.target
Wants=restic-mount.service
After=restic-mount.service

[Service]
WorkingDirectory=/opt/restic-server/latest
User=restic-server
ExecStart=/opt/restic-server/latest/rest-server --path "/opt/restic-server/instances/{{ item.name }}/repo" --htpasswd-file /opt/restic-server/instances/{{ item.name }}/.htpasswd {% if item.max_size is defined %}--max-size {{ item.max_size }}{% endif %} --private-repos {% if item.append_only is defined and item.append_only %}--append-only{% endif %} --listen localhost:{{ item.port }}
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
