RC=0
INSTANCES="/opt/restic-server/instances"
MOUNT="{{ server_restic_mount_path | default("/opt/restic-server/mount") }}"
{% for current in server_restic_mounts %}
{% if current.binds is defined %}
{% for bind in current.binds %}
[ -L "$INSTANCES/{{ bind.instance }}/repo/{{ bind.user }}" ] && { rm "$INSTANCES/{{ bind.instance }}/repo/{{ bind.user }}" || (( RC++ )) }
{% endfor %}
{% endif %}
umount "$MOUNT/{{ current.name }}" || (( RC++ ))
{% endfor %}
exit $RC
