RC=0
REPO="{{ server_restic_repo_path | default("/opt/restic-server/repo") }}"
MOUNT="{{ server_restic_mount_path | default("/opt/restic-server/mount") }}"
{% for current in server_restic_mounts %}
{% if current.binds is defined %}
{% for bind in current.binds %}
mountpoint -q "$REPO/{{ bind.user }}" && { umount "$REPO/{{ bind.user }}" || (( RC++ )) }
{% endfor %}
{% endif %}
mountpoint -q "$REPO/{{ current.name }}" && { umount "$MOUNT/{{ current.name }}" || (( RC++ )) }
{% endfor %}
exit $RC
