BEGIN:VCALENDAR
PRODID:-//Inverse inc./SOGo 5.2.0//EN
VERSION:2.0
BEGIN:VTODO
UID:76B1D-616C2680-3-1F346600
SUMMARY:TestTodo
CLASS:PUBLIC
X-SOGO-SEND-APPOINTMENT-NOTIFICATIONS:NO
CREATED:20211017T133526Z
DTSTAMP:20211017T133526Z
LAST-MODIFIED:20211017T133526Z
END:VTODO
END:VCALENDAR
