$TTL {{ server_dns_ttl | default('7200') }}
$ORIGIN {{ domain }}.

@ IN SOA {{ item.nameserver }} {{ item.mail }} ( {{ item.serial | default( ansible_date_time.epoch ) }} {{ item.refresh | default( '28800' ) }} {{ item.retry | default( '1800' ) }} {{ item.expire | default( '604800' ) }} {{ item.negCacheTtl | default( '86400' ) }} )

{% for record in item.records %}
{{ record.name | default('') }} {{ record.class | default('IN') }} {{ record.type }} {{ record.data }}
{% endfor %}
