#!/bin/bash
MOUNTDIR="$1"

for C in accounts live csr archive keys renewal
do
	mkdir -p /etc/letsencrypt/$C/
	rsync_restore letsencrypt/$C/ /etc/letsencrypt/$C/
done

for C in /etc/letsencrypt/renewal-hooks/deploy/*
do
	$C
done
